/* //header// */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&family=Black+Ops+One&family=Croissant+One&family=Manrope:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+ID:wght@100..400&family=Roboto:ital,wght@0,100..900;1,100..900&family=Tirra:wght@400;500;600;700;800;900&family=Yuyu+Short&display=swap');





*{
    margin:0;
    padding:0;
 font-family: Open Sans;
}
html{
  overflow-x: hidden;
}
.topbar{
    display: flex;
    gap:50px;
    width:100%;
    height:100px;
    overflow: hidden;
}
.logo{
       overflow: hidden;
}
.mainlogo{
    display: flex;
    overflow: hidden;
}
.logo img{
    border-radius:50%;
    height:100px;
    width:100px;
}
.logoname{
    padding:30px 0px 0px 0px;
    
}
.logoname h2{
    color:#e13318;
}
.category{
    margin-top:30px;
   
}
.search{
     margin-top:30px;
     display: flex;
}
.login{
    display:flex;
    margin-top:20px;
}

.loginimg{
    padding:10px 5px 0px 0px ;
   
}
.wish{
    display:flex;
    margin-top:20px;
}
.wishimg{
    padding:10px 5px 0px 0px ;
}
.cart{
    display:flex;
    margin-top:20px;
}
.cartimg{
    padding:10px 5px 0px 0px ;
   
}
.btncst{
    background-color: #e13318;
}
.btncst a{
    color:#fff;
}
.secheader{
    display:flex;
    height:50px;
    width:100%;

}
.list{
    background-color: black;
    padding:10px 140px 0px 140px;
    overflow: hidden;
}
.list ul{
    display: flex;
    list-style: none;
    gap:23px;
}
.list  a{
    text-decoration: none;
    color:#e13318;
    font-weight:700;
}
.browse{
    background-color: #e13318;
   padding:10px 30px 0px 50px;
   overflow: hidden;
}
.browse h4{
    color:white;
}
.free{
    background-color: #e13318;
    padding:10px 40px 0px 46px;
    overflow: hidden;
}
.free h4{
    color:white;
}
/* header */
.offer-banner{

position:relative;

background:#fff;

border-radius:15px;

overflow:hidden;

padding:60px 70px;

box-shadow:0 10px 30px rgba(0,0,0,.05);

}

.container{

display:flex;

justify-content:space-between;

align-items:center;

}

.left-content{

width:45%;

}

.left-content h5{

font-size:54px;

font-weight:700;

color:#222;

line-height:1.2;

}

.left-content h1{

font-size:62px;

font-weight:800;

color:#ff5a00;

margin-bottom:25px;

}

.left-content p{

font-size:24px;

color:#555;

line-height:1.8;

max-width:500px;

}

.line{

display:block;

margin-top:25px;

width:150px;

height:5px;

background:#ffd55c;

border-radius:20px;

}

.right-content{

width:45%;

display:flex;

flex-direction:column;

align-items:center;

position:relative;

}

.offer-box{

padding:18px 70px;

border-radius:12px;

font-weight:700;

color:#fff;

box-shadow:0 12px 30px rgba(0,0,0,.15);

transform:rotate(-4deg);

margin:8px;

}

.red{

background:#ef4335;

font-size:38px;

}

.yellow{

background:#ffc425;

color:#111;

font-size:74px;

padding:25px 90px;

transform:rotate(-5deg);

}

.green{

background:#4caf17;

font-size:28px;

padding:16px 60px;

}

.leaf{

position:absolute;

}

.leaf1{

left:0;

top:80px;

width:70px;

}

.tomato{

left:20px;

bottom:20px;

width:90px;

}

.leaf2{

right:120px;

top:70px;

width:55px;

}

.chocolate{

right:0;

top:0;

width:150px;

}

@media(max-width:992px){
.offer-banner{
        margin-top: -56px;
}
.container{

flex-direction:column;

text-align:center;

}

.left-content,
.right-content{

width:100%;

}

.left-content{

margin-bottom:50px;

}

.left-content h5{

font-size:38px;

}

.left-content h1{

font-size:48px;

}

.left-content p{

font-size:18px;

margin:auto;

}

.yellow{

font-size:52px;

padding:20px 50px;

}

.red{

font-size:30px;

}

.green{

font-size:22px;

}

}
/* footer */
footer{

background:#111;
color:#fff;

padding-top:60px;

}

.container5{
width: 1123px;

margin:auto;

}

.footer-grid{

display:grid;

grid-template-columns:2fr 1fr 1fr 1fr 1.2fr;

gap:40px;

padding-bottom:50px;

}

.logo2 img{

width:170px;
margin-bottom:20px;
height: auto;
border-radius:50% ;
}

.footer-about p{

font-size:14px;

color:#bbb;

line-height:26px;

margin-bottom:25px;

}

.social{

display:flex;
gap:12px;

}

.social a{

width:38px;
height:38px;

background:#222;

display:flex;

align-items:center;
justify-content:center;

border-radius:50%;

color:#fff;

text-decoration:none;

transition:.3s;

}

.social a:hover{

background:#ff6b00;

}

h4{

margin-bottom:22px;

font-size:18px;

}

ul{

list-style:none;

}

ul li{

margin-bottom:12px;

}

ul li a{

color:#bbb;

text-decoration:none;

transition:.3s;

font-size:14px;

}

ul li a:hover{

color:#ff6b00;

padding-left:5px;

}

.payments{

display:flex;

gap:10px;

margin-bottom:20px;

flex-wrap:wrap;

}

.payments img{

height:32px;

background:#fff;

padding:5px;

border-radius:5px;

}

.cod{

display:flex;

align-items:center;

gap:10px;

color:#ddd;

}

.cod i{

color:#ff6b00;

}

.footer-bottom{

border-top:1px solid #2a2a2a;

padding:20px 0;

display:flex;

justify-content:space-between;

align-items:center;

}

.footer-bottom p{

color:#999;

font-size:14px;

}

.featuress{

display:flex;

gap:35px;

}

.featuress span{

color:#ccc;

font-size:14px;

}

.featuress i{

color:#ff6b00;

margin-right:8px;

}

@media(max-width:992px){

.container5{

width:90%;

}

.footer-grid{

grid-template-columns:repeat(2,1fr);

}

.footer-bottom{

flex-direction:column;

gap:20px;

}

.featuress{

flex-wrap:wrap;

justify-content:center;

}

}

@media(max-width:600px){

.footer-grid{

grid-template-columns:1fr;

text-align:center;

}

.social{

justify-content:center;

}

.payments{

justify-content:center;

}

.cod{

justify-content:center;

}

}
/* footer */

.top-offers{

padding:40px;

background:#fff;

}

.section-head{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:30px;

}

.section-head h2{

font-size:32px;

font-weight:700;

position:relative;

}

.section-head h2:after{

content:"";

position:absolute;

left:0;

bottom:-10px;

width:60px;

height:3px;

background:#ff5b00;

}

.section-head a{

text-decoration:none;

color:#ff5b00;

font-weight:600;

}

.offer-grid{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:25px;

}

.offer-card{

background:#fff;

border:1px solid #eee;

border-radius:12px;

padding:20px;

position:relative;

transition:.3s;

}

.offer-card:hover{

transform:translateY(-8px);

box-shadow:0 15px 30px rgba(0,0,0,.08);

}

.offer-card img{

width:180px;

display:block;

margin:auto;

}

.badge{

position:absolute;

left:15px;

top:15px;

padding:5px 12px;

border-radius:5px;

font-size:12px;

color:#fff;

font-weight:600;

}

.red{

background:#ff3b30;

}

.green{

background:#2e9d18;

}

.orange{

background:#ff6200;

}

.offer-card h3{

margin:20px 0 15px;

font-size:20px;

}

.coupon{

border:1px dashed #ff6200;

padding:10px;

text-align:center;

margin-bottom:20px;

color:#ff6200;

font-size:15px;

}

.price{

margin-bottom:12px;

}

.new{

font-size:34px;

font-weight:700;

color:#ff4d00;

}

.old{

margin-left:10px;

text-decoration:line-through;

color:#999;

}

.expiry{

color:#777;

margin-bottom:20px;

}

.offer-card button{

width:100%;

height:48px;

background:#ff5b00;

border:none;

color:#fff;

font-size:16px;

font-weight:600;

border-radius:6px;

cursor:pointer;

}

.offer-card button:hover{

background:#e24d00;

}



.feature-bar{

max-width:1200px;

margin:auto;

display:grid;

grid-template-columns:repeat(4,1fr);

background:#fff;

border:1px solid #eee;

border-radius:10px;

overflow:hidden;

}

.feature-item{

display:flex;

align-items:center;

gap:15px;

padding:22px 25px;

border-right:1px solid #eee;

transition:.3s;

}

.feature-item:last-child{

border-right:none;

}

.feature-item:hover{

background:#fff8f3;

}

.icon {

width:56px;

height:56px;

border-radius:50%;

display:flex;

align-items:center;

justify-content:center;

font-size:22px;

border:2px solid #ff6200;

color:#fff;

transition:.3s;

}


.green{

border-color:#7ab730;

color:#FFF;
padding:0;

}

.feature-item:hover .icon{

background:#ff6200;

color:#fff;

}

.feature-item:hover .green{

background:#7ab730;

color:#fff;

}

.text h4{

font-size:18px;

font-weight:600;

color:#222;

margin-bottom:4px;

}

.text p{

font-size:14px;

color:#777;

}

/* Responsive */

@media(max-width:992px){

.feature-bar{

grid-template-columns:repeat(2,1fr);

}

.feature-item:nth-child(2){

border-right:none;

}

}

@media(max-width:600px){

.feature-bar{

grid-template-columns:1fr;

}

.feature-item{

border-right:none;

border-bottom:1px solid #eee;

}

.feature-item:last-child{

border-bottom:none;

}

}






@media (max-width:768px){

.topbar{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:15px;
    gap:15px;
}

/* Logo */

.mainlogo{
    width:100%;
    display:flex;
    /* justify-content:center; */
    /* align-items:center; */
}

.logo img{
    width:65px;
}

.logoname h2{
    font-size:26px;
}

.logoname p{
    font-size:13px;
}

/* Category */

.category{
    width:100%;
}

.category select{
    width:100%;
    height:45px;
}

/* Search */

.search{
    width:100%;
    display:flex;
}

.search1{
    flex:1;
}

.search1 input{
    width:100%;
    height:45px;
}

.button{
    width:45px;
}

.btncst{
    width:45px;
    height:45px;
}

/* Account Wishlist Cart */

.login,
.wish,
.cart{
    width:100%;
    display:flex;
    align-items:center;
    justify-content:flex-start;
    gap:12px;
    padding:10px;
    border-top:1px solid #eee;
}

.loginimg i,
.wishimg i,
.cartimg i{
    font-size:22px;
}

.loginname h2,
.wish1 h2,
.cartname h2{
    font-size:18px;
}

.loginname p,
.wish1 p,
.cartname p{
    font-size:13px;
}


/* Navigation */
/* 
.secheader{
    display:;
    flex-direction:column;
    margin-top: 449px;
}

.browse,
.free{
        text-align: center;
        padding: 15px 0px 30px 0px;
}

.list{
          width: 100%;
        display: flex;
        padding: 50px 0px;
        gap: 0;
}

.list ul{
   display: flex;
        list-style: none;
        margin: 0;
        gap: 0;
        width: 100%;
}

.list ul li{
    width:100%;
    border-bottom:1px solid #444;
}

.list ul li a{
    display:block;
    text-align:center;
    padding:15px;
    color:#fff;
    text-decoration:none;
} */

/* Prevent overflow */

/* img{
    max-width:100%;
    height:auto;
} */
.browse{
    display:none;
}
.free{
     display:none;
}
.category,.search,.login,.wish,.cart{
    display: none;
}
.list ul{
display: block;
background-color: #111;
width:300px;
height:100vh;
position:absolute;
padding:30px;
top:130px;
right:-364px;
transition:0.5s;
        Z-INDEX: 99;
}
.showmenu{
    right: 1px!IMPORTANT;
    transition:0.5s;
}
.menu button{
    display: block!important;
     margin-top: 28px;
     width:100%;
    margin-left:70px ;
    padding: 10px 0px 29px 0px;
}

.list button{
    display: block!important;
   
}

}

.menu button{
    display: none;
}

.list button{
    display: none;
}

button {
    width: 100%;
    height: 23px;
    border: 1px solid #ff6b00;
    background: #fff;
    color: #ff6b00;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    transition: .3s;
}

button:hover {
    background: #ff6b00;
    color: #fff;
}

